@page
@model BookListRazor.CreateNewBookModel
@{
    ViewData["Title"] = "CreateNewBook";
}

<br />
<h2 class="text-info">jacek</h2>

<div class="border" style="padding:30px">
    <form method="post">
        <div class="form-group row">
            <div class=" col-md-5">
                <label asp-for="Book.Name"></label>
                
            </div>
            <div class=" col-md-7">
                <input asp-for="Book.Name" class="form-control"/>
            </div>
        </div>

    </form>
</div>


